body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f3f0;
  color: #333;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  background-color: #d8b6a4;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
main {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}
.intro-text {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: center;
}
.intro-title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.intro-img img {
  width: 70%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #d8b6a4;
  color: #fff;
  text-align: center;
  padding: 15px;
}
@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  video {
    max-width: 100%;
    height: auto;
  }
}
